
/* manual image slider */
#imgslider {
  display: flex;
  margin-top: 30px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  align-items: center;
}
#imgslider img {
  height: 400px;
}

#imgslider > div:nth-child(2) {
  margin: 5px;
  background-color: rgb(142, 201, 233);
  font-family: Arial, Helvetica, sans-serif;
}
#imgslider > div:nth-child(3) {
  margin: 5px;
  background-color: rgb(220, 183, 150);
  font-family: Arial, Helvetica, sans-serif;
}
#imgslider > div:nth-child(4) {
  margin: 5px;
  background-color: rgb(1, 71, 79);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#imgslider > div:nth-child(5) {
  margin: 5px;
  background-color: rgb(89, 161, 158);
  font-family: Arial, Helvetica, sans-serif;
}
#imgslider h3,
h4 {
  margin: 20px 25px;
}
#imgslider h3 {
  margin-bottom: 0px;
}
#imgslider p {
  margin-top: 0px;
  margin-left: 25px;
  font-size: 14px;
}
#imgslider > div:hover{
  cursor: pointer;
  text-decoration: underline;
}
/* top section sliding buttons */
#slideRight {
  height: 40px;
  position: absolute;
  background-color: black;
  color: white;
  margin-left: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  opacity: 0.7;
}
#slideLeft {
  height: 40px;
  position: absolute;
  background-color: black;
  color: white;
  right: 0;
  margin-right: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  opacity: 0.7;
}
#slideRight:hover,
#slideLeft:hover {
  cursor: pointer;
}
/*                Mid Section               */
/* choiceforyou,just Dropped */
#choiceforyou,
#justdropped,
#beautyoffer,
#sellingfast {
  width: 80%;
  margin: auto;
}
#choiceheading,
#justdroppedheading,
#beautyofferheading,
#sellingfastheading {
  margin-top: 50px;
}
#choiceforyou > div,
#justdropped > div,
#beautyoffer > div,
#sellingfast > div {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 5px;
}
#choiceforyou > div > div,
#justdropped > div > div,
#beautyoffer > div > div,
#sellingfast > div > div {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 8px;
  cursor: pointer;
}
#choiceforyou > div > div > img,
#justdropped > div > div > img,
#sellingfast > div > div > img {
  width: 177px;
}
#ChoiceSlideLeft,
#justdroppedSlideLeft,
#beautyofferSlideLeft,
#sellingfastSlideLeft {
  height: 40px;
  position: absolute;
  background-color: black;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  opacity: 0.7;
  left: 123px;
  align-self: center;
}
#choiceSlideRight,
#justdroppedSlideRight,
#beautyofferSlideRight,
#sellingfastSlideRight {
  height: 40px;
  position: absolute;
  background-color: black;
  color: white;
  right: 110px;
  margin-right: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  opacity: 0.7;
  align-self: center;
}
.marginleft15 {
  margin-left: 15px;
}
/* offer casrd */
#offercard {
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 100px;
  justify-content: space-between;
}

#offercard > img {
  width: 32%;
  border-radius: 5px;
}