/*..............................makeup style...................................*/
#makeupContainer {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  gap: 60px;
}
/* filter styles */
#filter {
  width: 30%;
}
#filter p {
  margin-top: 10px;
}
#filter h4 {
  margin-top: 20px;
}
/* filter Drop Down style */
nav .DropDown {
  list-style: none;
  overflow: hidden;
  height: 40px;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding-left: 6px;
  padding-right: 6px;
}
nav .DropDown li a {
  text-decoration: none;
  display: block;
  margin-top: 10px;
  color: black;
}
nav .DropDown li:first-child {
  font-weight: bold;
}
nav .DropDown li:first-child a:after {
  content: "\25BC";
  float: right;
  color: black;
  font-weight: lighter;
}
nav .DropDown.open {
  height: 190px;
}
/* top filter icons  */
#filterbyicons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

#filterbyicons > div {
  display: flex;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
/* filter by product type */
#filter > h4 ~ p:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* product display style */
#displayproducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}
#displayproducts > div {
  cursor: pointer;
}
#displayproducts > div:hover > h4 + p {
  cursor: pointer;
  text-decoration: underline;
}

#displayproducts img {
  width: 100%;
}
#displayproducts h5,
p,
h4 {
  margin-bottom: 8px;
}
